<div class="campaign-display">
    <h2>Campaign details</h2>
    <div class="campaign-data-display">
        <p>ID:</p>
        <input type="text" class="campaign-id" value="<%= campaign.id %>" disabled>
    </div>
    <div class="campaign-data-display">
        <p>Name:</p>
        <input type="text" class="campaign-name" value="<%= campaign.name %>">
    </div>
    <div class="campaign-data-display">
        <p>Planned Rates:</p>
        <input type="number" class="campaign-planned-rates" value="<%= campaign.plannedRates %>">
    </div>
    <div class="campaign-data-display">
        <p>Current Rates:</p>
        <input type="number" class="campaign-current-rates" value="<%= campaign.currentRates %>">
    </div>
    <div class="campaign-data-display">
        <p>Start Date:</p>
        <input type="date" class="campaign-start-date" value="<%= campaign.startDate %>">
    </div>
    <div class="campaign-data-display">
        <p>End Date:</p>
        <input type="date" class="campaign-end-date" value="<%= campaign.endDate %>">
    </div>
    <div class="campaign-data-display">
        <p>Employee ID:</p>
        <input type="number" class="campaign-emp-id" value="<%= campaign.empId %>" disabled>
    </div>
    <div class="campaign-data-display">
        <p>Client ID:</p>
        <input type="number" class="campaign-cli-id" value="<%= campaign.cliId %>" disabled>
    </div>
    <button type="submit">Save changes</button>
    <label id="error" class="error"></label>
</div>