<div class="container">
    <h1>Your data</h1>

    <div class="user-data">
        <div class="data-item">
            <span>ID:</span> <span id="user-id"><%= user.id %></span>
        </div>
        <div class="data-item">
            <span>Name:</span> <span id="user-name"><%= user.name %></span>
        </div>
        <div class="data-item">
            <span>Surname:</span> <span id="user-surname"><%= user.surname %></span>
        </div>
        <div class="data-item">
            <span>PESEL:</span> <span id="user-pesel"><%= user.pesel %></span>
        </div>
        <div class="data-item">
            <span>Employement date:</span> <span id="user-employment-date"><%= user.employmentDate %></span>
        </div>
    </div>
</div>
